server:
  port: 8081
  servlet:
    context-path: /auth-service

spring:
  application:
    name: auth-service

  # Auth DB (MySQL)
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://${DB_HOST}/${MYSQL_DATABASE}?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC&useUnicode=true&characterEncoding=UTF-8
    username: ${MYSQL_USER}
    password: ${MYSQL_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: ${JPA_DDL_AUTO}
    show-sql: ${JPA_SHOW_SQL}
    properties:
      hibernate:
        format_sql: ${JPA_FORMAT_SQL}

  # Redis (Refresh Token, Email Code, OAuth State)
  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}

  kafka:
    bootstrap-servers: ${SPRING_KAFKA_BOOTSTRAP_SERVERS}
    consumer: # Consumer 설정 (user-service로부터 응답을 받기 위함)
      bootstrap-servers: ${SPRING_KAFKA_CONSUMER_BOOTSTRAP_SERVERS}
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring.json.trusted.packages: "com.example.userservice.dto.event,com.example.authservice.dto.event" # # user-service가 보낸 DTO 패키지를 신뢰
        spring.json.type.mapping: "com.example.userservice.dto.event.UserProfileCreationSuccessEvent:com.example.authservice.dto.event.UserProfileCreationSuccessEvent, \
                                          com.example.userservice.dto.event.UserProfileCreationFailureEvent:com.example.authservice.dto.event.UserProfileCreationFailureEvent"
    producer: #  Producer 설정 (user-service로 요청을 보내기 위함)
      bootstrap-servers: ${SPRING_KAFKA_PRODUCER_BOOTSTRAP_SERVERS}
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer

  # Mail (?? ?? ???)
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${GMAIL_USERNAME}
    password: ${GMAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
    from: "no-reply@linkfolio.com"
    from-name: "LinkFolio"

  # Social Login (OAuth2)
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}
            redirect-uri: "${APP_OAUTH_REDIRECT_BASE_URL}/auth-service/login/oauth2/code/{registrationId}" # [?? ??]
            scope:
              - email
              - profile
          naver:
            client-id: ${NAVER_CLIENT_ID}
            client-secret: ${NAVER_CLIENT_SECRET}
            redirect-uri: "${APP_OAUTH_REDIRECT_BASE_URL}/auth-service/login/oauth2/code/{registrationId}" # [?? ??]
            authorization-grant-type: authorization_code
            scope:
              - email
              - name
            client-name: Naver
          kakao:
            client-id: ${KAKAO_CLIENT_ID}
            client-secret: ${KAKAO_CLIENT_SECRET}
            redirect-uri: "${APP_OAUTH_REDIRECT_BASE_URL}/auth-service/login/oauth2/code/{registrationId}" # [?? ??]
            authorization-grant-type: authorization_code
            scope:
              - profile_nickname
              - account_email
            client-name: Kakao
            client-authentication-method: client_secret_post

        provider:
          naver:
            authorization-uri: https://nid.naver.com/oauth2.0/authorize
            token-uri: https://nid.naver.com/oauth2.0/token
            user-info-uri: https://openapi.naver.com/v1/nid/me
            user-name-attribute: response
          kakao:
            authorization-uri: https://kauth.kakao.com/oauth/authorize
            token-uri: https://kauth.kakao.com/oauth/token
            user-info-uri: https://kapi.kakao.com/v2/user/me
            user-name-attribute: id

# JWT Token Settings
jwt:
  secret: ${JWT_SECRET}
  access_expiration_time: 86400000  # 1?
  refresh_expiration_time: 604800000 # 7?

# Feign (User Service ???)
app:
  feign:
    user-service-url: http://user-service:80 # k8s ?? ??? ?? (?? 80)
  frontend:
    redirect-url: ${APP_FRONTEND_REDIRECT_URL} # ex) http://127.0.0.1:5173/auth/callback

