server:
  port: 8000

spring:
  application:
    name: apigateway-service
  cloud:
    gateway:
      globalcors:
        cors-configurations:
          '[/**]': # 모든 경로(/**)에 대해 적용
            allowed-origins:
              - 'http://localhost:5173' # React 앱의 주소
              - 'http://127.0.0.1:5173'

            allowed-methods:
              - GET
              - POST
              - PUT
              - DELETE
              - PATCH
              - OPTIONS
            allowed-headers: '*'
            allow-credentials: true

      routes:
        # 1. User Service (인증이 필요한 API)
        - id: user-service-route
          uri: http://user-service:80
          predicates:
            - Path=/user-service/**

        # 2. Auth Service (인증/인가 API)
        - id: auth-service-route
          uri: http://auth-service:8081 # [신규] auth-service (8081 포트)
          predicates:
            - Path=/auth-service/**

app:
  gateway:
    excluded-urls:
      - /user-service/welcome
      - /actuator
      - /user-service/swagger-ui/**
      - /user-service/v3/api-docs/**
      - /auth-service/swagger-ui/**
      - /auth-service/v3/api-docs/**

      - /auth-service/auth/signup
      - /auth-service/auth/login
      - /auth-service/auth/refresh
      - /auth-service/auth/logout
      - /auth-service/auth/check-username
      - /auth-service/auth/check-password
      - /auth-service/auth/find-username
      - /auth-service/auth/password-reset/send-code
      - /auth-service/auth/password-reset/verify-code
      - /auth-service/auth/password-reset/change
      - /auth-service/auth/email-verification/send
      - /auth-service/auth/email-verification/check
      - /auth-service/oauth2/authorization/**
      - /auth-service/login/oauth2/code/**

# JWT Token Settings
jwt:
  secret: ${JWT_SECRET}
  expiration_time: 86400000

# Swagger
springdoc:
  # Gateway's Swagger UI Path
  swagger-ui:
    path: /swagger-ui.html

  api-docs:
    groups:
      enabled: true # Grouping Activate
