server:
  port: 8000
  forward-headers-strategy: NATIVE

spring:
  main:
    web-application-type: reactive
  application:
    name: apigateway-service
  cloud:
    gateway:
      server:
        webflux:
          globalcors:
            cors-configurations:
              '[/**]': # 모든 경로(/**)에 대해 적용
                allowed-origins:
                  - 'https://impressionless-connaturally-jonie.ngrok-free.dev'
                  - 'http://localhost:3000' # Next.js 로컬 주소
                  - 'https://linkfolio-three.vercel.app' # Next.js 개발 주소
                  - 'https://linkfolio.vercel.app' # 소셜 리디렉션 주소
                  - 'http://127.0.0.1:5500'
                  - 'http://localhost:5500'

                allowed-methods:
                  - GET
                  - POST
                  - PUT
                  - DELETE
                  - PATCH
                  - OPTIONS
                allowed-headers: '*'
                allow-credentials: true

          routes:
            # 1. User Service (인증이 필요한 API)
            - id: user-service-route
              uri: http://user-service:80
              predicates:
                - Path=/user-service/**

            # 2. Auth Service (인증/인가 API)
            - id: auth-service-route
              uri: http://auth-service:80
              predicates:
                - Path=/auth-service/**

            # 3. Portfolio Service
            - id: portfolio-service-route
              uri: http://portfolio-service:80
              predicates:
                - Path=/portfolio-service/**

            # 4. Chat Service (HTTP API)
            - id: chat-service-route
              uri: http://chat-service:80
              predicates:
                - Path=/chat-service/**

            # 5. Chat Service (WebSocket)
            - id: chat-service-ws-route
              uri: http://chat-service:80
              predicates:
                - Path=/ws-chat/**

app:
  gateway:
    excluded-urls:
      - /user-service/welcome
      - /actuator
      - /user-service/swagger-ui/**
      - /user-service/v3/api-docs/**
      - /auth-service/swagger-ui/**
      - /auth-service/v3/api-docs/**
      - /portfolio-service/swagger-ui/**
      - /portfolio-service/v3/api-docs/**

      - /auth-service/auth/signup
      - /auth-service/auth/login
      - /auth-service/auth/refresh
      - /auth-service/auth/logout
      - /auth-service/auth/check-username
      - /auth-service/auth/check-password
      - /auth-service/auth/find-username
      - /auth-service/auth/password-reset/send-code
      - /auth-service/auth/password-reset/verify-code
      - /auth-service/auth/password-reset/change
      - /auth-service/auth/email-verification/send
      - /auth-service/auth/email-verification/check
      - /auth-service/oauth2/authorization/**
      - /auth-service/login/oauth2/code/**
      - /auth-service/error
      - /portfolio-service/portfolios
      - /portfolio-service/portfolios/{portfolioId:\d+}

# JWT Token Settings
jwt:
  secret: ${JWT_SECRET}
  expiration_time: 86400000

# Swagger
springdoc:
  # Gateway's Swagger UI Path
  swagger-ui:
    path: /swagger-ui.html
    urls:
      - name: 1. Auth Service
        url: https://impressionless-connaturally-jonie.ngrok-free.dev/auth-service/v3/api-docs
      - name: 2. User Service
        url: https://impressionless-connaturally-jonie.ngrok-free.dev/user-service/v3/api-docs
      - name: 3. Portfolio Service
        url: https://impressionless-connaturally-jonie.ngrok-free.dev/portfolio-service/v3/api-docs


  # 게이트웨이의 공인 주소(ngrok)를 명시하여 Mixed Content 문제 해결
  servers:
    - url: https://impressionless-connaturally-jonie.ngrok-free.dev
      description: NGrok Development Server