server:
  port: 8000
  forward-headers-strategy: NATIVE

spring:
  application:
    name: apigateway-service
  cloud:
    gateway:
      globalcors:
        cors-configurations:
          '[/**]': # 모든 경로(/**)에 대해 적용
            allowed-origins:
              - 'http://localhost:5173' # React 앱의 주소
              - 'http://127.0.0.1:5173'

            allowed-methods:
              - GET
              - POST
              - PUT
              - DELETE
              - PATCH
              - OPTIONS
            allowed-headers: '*'
            allow-credentials: true

      routes:
        # 1. User Service (인증이 필요한 API)
        - id: user-service-route
          uri: http://user-service:80
          predicates:
            - Path=/user-service/**

        # 2. Auth Service (인증/인가 API)
        - id: auth-service-route
          uri: http://auth-service:80
          predicates:
            - Path=/auth-service/**

app:
  gateway:
    excluded-urls:
      - /user-service/welcome
      - /actuator
      - /user-service/swagger-ui/**
      - /user-service/v3/api-docs/**
      - /auth-service/swagger-ui/**
      - /auth-service/v3/api-docs/**

      - /auth-service/auth/signup
      - /auth-service/auth/login
      - /auth-service/auth/refresh
      - /auth-service/auth/logout
      - /auth-service/auth/check-username
      - /auth-service/auth/check-password
      - /auth-service/auth/find-username
      - /auth-service/auth/password-reset/send-code
      - /auth-service/auth/password-reset/verify-code
      - /auth-service/auth/password-reset/change
      - /auth-service/auth/email-verification/send
      - /auth-service/auth/email-verification/check
      - /auth-service/oauth2/authorization/**
      - /auth-service/login/oauth2/code/**

# JWT Token Settings
jwt:
  secret: ${JWT_SECRET}
  expiration_time: 86400000

# Swagger
springdoc:
  # Gateway's Swagger UI Path
  swagger-ui:
    path: /swagger-ui.html

  gateway:
    discovery:
      enabled: false

    # 각 마이크로서비스의 context-path가 포함된 명세서 경로 명시적으로 지정 (다른 서비스들이 context-path가 있어서 경로 불일치 발생하고 있어서 명시적으로 지정)
    routes:
      - id: user-service-route
        path: /v3/api-docs
      - id: auth-service-route
        path: /v3/api-docs

  # 게이트웨이의 공인 주소(ngrok)를 명시하여 Mixed Content 문제 해결
  servers:
    - url: https://impressionless-connaturally-jonie.ngrok-free.dev
      description: NGrok Development Server